
<form method="POST" action="/image-posts/add"> 

	<!-- make a GET request to / when 
	submit button is pushed -->

	Image Post Title: <input type="text" name="title"><br><br>
	Image 1 URL: <input type="text" name="url1">, Caption: <input type="text" name="caption1"><br><br>
	Image 2 URL: <input type="text" name="url2">, Caption: <input type="text" name="caption2"><br><br>
	Image 3 URL: <input type="text" name="url3">, Caption: <input type="text" name="caption3"><br><br>
	<button type="submit">Add New Image Post</button>

</form>

{{#each imageposts}}

	<h3><a href= "/image-posts/{{this.slug}}">{{this.title}}</a></h3>
	{{#each images}}
		{{#if this.caption}}
			<h5>{{this.caption}}</h5>
			<img src="{{this.url}}" style="width: 200px">
		{{/if}}
	{{/each}}

{{/each}}