<!DOCTYPE html>
<html>
  <head>
    <title>480Chan - Image Board</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<h1>480Chan - Image Board</h1>
    {{{body}}}
  </body>
</html>
